@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

a {
  text-decoration: non;
  color: inherit;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ff8269;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  outline-color: #ff6347;
}

label {
  display: block;
  margin: 0.8rem 0 0.3rem;
  color: #b02c1d;
  font-weight: 600;
}

/* Makes the full page take 100% height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout structure */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  width: 80%;
  margin: auto;
}

/* Content grows to fill remaining space */
.content-wrap {
  flex: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
