.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 150px;
    border-radius: 10px;
  }
  
  .header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
  }
  
  .header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
  }
  
  .header-contents p {
    color: white;
    font-size: 1vw;
  }
  
  .header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
  }
  
  /* Tablet */
  @media (max-width: 1050px) {
    .header-contents {
      max-width: 60%;
    }
  }
  
  /* Small devices (e.g. mobile phones) */
  @media (max-width: 600px) {
    .header {
      height: 75vh;
      background-position: center;
    }
  
    .header-contents {
      max-width: 90%;
      bottom: 5%;
      left: 5%;
      gap: 20px;
      top: 10%;
    }
  
    .header-contents h2 {
      font-size: 6vw;
    }
  
    .header-contents p {
      font-size: 3.5vw;
      display: block;
    }
  
    .header-contents button {
      padding: 3vw 6vw;
      font-size: 4vw;
      margin-top: 25px;
    }
  }
  



  @media (max-width: 500px) {
    .header {
      height: 70vh; /* Optional: reduce height further on small screens */
    }
  
    .header-contents {
      left: 4vw;
      bottom: 5%;
      max-width: 90%;
      gap: 10px;
    }
  
    .header-contents h2 {
      font-size: 6vw; /* slightly larger text for better readability */
    }
  
    .header-contents button {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  